h1 Profile Details
.ui.two.column.grid
  .column
    table.ui.table.blue.large.fixed.stripped
      tr
        td Name
        td #{professor.name}
      tr
        td Username
        td #{professor.username}
      tr
        td Number of courses created
        td #{professor.courses.length}