.ui.container.basic.segment
  h1.ui.blue.header Profile Details
hr
.ui.two.column.grid
  .column
    .ui.container.basic.segment
      table.ui.table.large.very.basic
        tr
          td
            i.caret.right.icon
            b Name
          td #{professor.name}
        tr
          td 
            i.caret.right.icon
            b Username
          td #{professor.username}
        tr
          td
            i.caret.right.icon 
            b Number of courses created
          td #{professor.courses.length}
        tr
          td
            i.caret.right.icon 
            b Joined on
          td #{professor.createdOn}