html
  head
    title Index Page
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')
  body
    //- .ui.container
    .ui.container
    .ui.container.segment
      .ui.red.reader WARNING! Dropping course #{courseID}