html
  head
    title Index Page
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css')
    link(rel='stylesheet', href='/style.css', type="text/css")
  body
    .ui.container
    .ui.raised.very.padded.text.container.segment
      h1.ui.header Login
      .ui.two.column.grid
        .ui.four.width.column.center.aligned
          a(href="/login/student")
            .ui.animated.blue.fluid.button.large(tabindex='0')
              .visible.content Student
              .hidden.content
                span Login
                i.right.arrow.icon
        .ui.four.width.column.center.aligned
          a(href="/login/professor")
            .ui.animated.teal.fluid.button.large(tabindex='0')
              .visible.content Professor
              .hidden.content
                span Login
                i.right.arrow.icon
      .ui.horizontal.section.divider OR REGISTER
      form.ui.form(action="/register", method="post")
        .ui.field.required
          label Name
          input(type="text", name="name", placeholder="Name" required pattern="^[A-Za-z \.]+$" title="Enter proper format")
        .ui.field.required
          label ID
          input(type="text", name="username", placeholder="ID" required pattern="^[A-Za-z0-9]{5, 20}$" title="Enter proper format")
        .ui.field.required
          label Password
          input(type="password", name="password", placeholder="Password" required minlength="6")
        .ui.horizontal.divider
        .ui.columns
            .ui.buttons.large
              input.ui.button.blue(type="submit", value="As Student", name="student")
              .or.color.blue
              input.ui.button.teal(type="submit", value="As Professor", name="professor")
      if registerError
        .ui.column
          .ui.error.message
            p Error: #{registerError}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js')
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js')
    script(src="script.js")
//- <div class="ui animated button" tabindex="0">
//-   <div class="visible content">Next</div>
//-   <div class="hidden content">
//-     <i class="right arrow icon"></i>
//-   </div>
//- </div>