html
  head
    title Index Page
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')
  body
    .ui.container
    .ui.container.raised.segment
      if message
        .ui.message(class=message.type)
          i.close.icon
          .header #{message.header}
          p #{message.text}

      .ui.top.attached.tabular.menu
        a.item.active(data-tab='first') Profile
        a.item(data-tab='second') Courses
        .right.menu
          a.ui.item(href="/logout") Logout 
            i.sign.out.alternate.icon
      .ui.bottom.attached.tab.segment.active(data-tab='first')
        .ui.container.padded.column
          include professor/profile.pug
      .ui.bottom.attached.tab.segment(data-tab='second')
          include professor/courses.pug

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js')
  script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js')
  script(src='https://semantic-ui.com/javascript/library/tablesort.js')
  script(src="script.js")